<?xml version="1.0" encoding="utf-8" ?>
<Settings>
  <Gps_detenction_status>true</Gps_detenction_status>
  <acclerometer_status>true</acclerometer_status>
  <vibration_status>true</vibration_status>
  <scuritycode_status>false</scuritycode_status>
  <security_code> "****" </security_code>
  <contact_message>"The system have detected a fall"</contact_message>
  <contact_number></contact_number>
  <emergency_number>112</emergency_number>
</Settings>