<?xml version="1.0" encoding="utf-8" ?>
<settings>
  <gps_detenction_status>true</gps_detenction_status>
  <acclerometer_status>true</acclerometer_status>
  <vibration_status>true</vibration_status>
  <scuritycode_status>false</scuritycode_status>
  <security_code> "****" </security_code>
  <contact_message>"Blablabla message"</contact_message>
  <contact_number>"+34 657206567"</contact_number>
  <emergency_number>112</emergency_number>
</settings>